body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  background-color: #222;
  background-image: url("assets/bgfire.JPG");
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  background: #222;
  text-align: center;
  position: relative;
    border: 2px solid transparent;
    border-radius: 10px;
    animation: border-glow 1s infinite alternate;
  margin: 0.5rem;
}
@keyframes border-glow {
  0% {
      border-color: rgba(255, 255, 255, 0.2);
  }
  100% {
      border-color: #fff;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}

h1 {
  text-align: center;
  margin: 50px 0;    
}

.chs #truth, #dare{
  margin: 10px;    
}
  h2 {
    font-family: Tahoma;
    font-weight: bold;
    color: #ffe033 ;
    text-align: center;
    margin: 10px;
  }
  h3 {
    font-family: Tahoma;
    font-weight: bold;
    color: #fff ;
    text-align: center;
    margin: 10px;
  }
  .claseh3 {
    font-size: 1.2rem;
  }
  span {
    border-radius: 10px;
  }
  
  #price {
    font-size: 1rem;
    text-align: center;
    font-family: Tahoma;
    border: 2px solid #cccccc;
    padding: 15px 30px;
    color: #cfc9c9;
  }
  
  #dare {
    font-size: 1.5rem;
    text-align: center;
    font-family: Tahoma;
    border: 2px solid #399656;
    padding: 15px 30px;
    color: #00FF00;
    display: none;
  } 
 
  #truth {
    font-size: 1.5rem;
    text-align: center;
    font-family: Tahoma;
    border: 2px solid #a51a1a;
    padding: 15px 30px;
    color: #FF0000;
    display: none;
    margin-left: 10px;
  }


#next {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 10px;
  background: linear-gradient(45deg, #ff0000, #c300ff);
  color: #ffffff;
  border: none;
  border-radius: 1rem;
  font-size: 1.5rem;
  text-align: center;
  font-family: Tahoma;
  font-weight: bold;
  padding: 15px 30px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: none; /* Inicialmente oculto */
}

#next::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: conic-gradient(
    transparent,
    rgba(255, 255, 255, 0.445),
    transparent 30%
  );
  animation: rotate 4s linear infinite;
}

#next::after {
  content: '';
  position: absolute;
  inset: 3px;
  background: inherit;
  border-radius: 0.9rem;
  z-index: -1;
}

#next:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}


footer {
  bottom: 0;
  width: 360px; 
  text-align: center; 
  color: #fff;
  font-size: 1rem;
  background-color: #000000b0;
  border-radius: 10px;
  margin-top: 0.3rem;
}

.a-eccedev {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  border: 1px dodgerblue black;
    border-radius: 10px;
    animation: border-glow 1s infinite alternate;
}
  
